In [2]:
# Load the library with the iris dataset
from sklearn.datasets import load_iris

# Load scikit's random forest classifier library
from sklearn.ensemble import RandomForestClassifier

# Load pandas
import pandas as pd

# Load numpy
import numpy as np

# Set random seed
np.random.seed(0)

In [3]:
# Create an object called iris with the iris data
iris = load_iris()

# Create a dataframe with the four feature variables
df = pd.DataFrame(iris.data, columns=iris.feature_names)

# View the top 5 rows
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [4]:
# Add a new column with the species names, this is what we are going to try to predict
#Vas kod ovdje

# View the top 5 rows
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
# Create a new column that for each row, generates a random number between 0 and 1, and
# if that value is less than or equal to .75, then sets the value of that cell as True
# and false otherwise. This is a quick and dirty way of randomly assigning some rows to
# be used as the training data and some as the test data.
#Vas kod ovdje

# View the top 5 rows
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
# Create two new dataframes, one with the training rows, one with the test rows
#Vas kod ovdje

In [7]:
# Show the number of observations for the test and training dataframes
print('Number of observations in the training data:', len(train))
print('Number of observations in the test data:',len(test))

NameError: name 'train' is not defined

In [8]:
# Create a list of the feature column's names
features = df.columns[:4]

# View features
features

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [9]:
# train['species'] contains the actual species names. Before we can use it,
# we need to convert each species name into a digit. So, in this case there
# are three species, which have been coded as 0, 1, or 2.
y = pd.factorize(train['species'])[0]

# View target
y

NameError: name 'train' is not defined

In [10]:
# Create a random forest Classifier. By convention, clf means 'Classifier'
#Vas kod ovdje

# Train the Classifier to take the training features and learn how they relate
# to the training y (the species)
#Vas kod ovdje

In [11]:
# Apply the Classifier we trained to the test data (which, remember, it has never seen before)
#Vas kod ovdje

In [12]:
# View the predicted probabilities of the first 10 observations
clf.predict_proba(test[features])[0:10

SyntaxError: unexpected EOF while parsing (<ipython-input-12-86ebd869fc73>, line 2)

In [13]:
# Create actual english names for the plants for each predicted plant class
preds = iris.target_names[clf.predict(test[features])]

NameError: name 'clf' is not defined

In [14]:
# View the PREDICTED species for the first five observations
preds[0:5]

NameError: name 'preds' is not defined

In [15]:
# View the ACTUAL species for the first five observations
test['species'].head()

NameError: name 'test' is not defined

In [16]:
# Create confusion matrix
pd.crosstab(test['species'], preds, rownames=['Actual Species'], colnames=['Predicted Species'])

NameError: name 'test' is not defined

In [ ]:
# View a list of the features and their importance scores
list(zip(train[features], clf.feature_importances_))